.super-bg {
    position: absolute;
    background-color: white;
    height: 90px;
    left: 95px;
    border: none;
    top: 530px;
    padding: 0 40px 0 60px;
    min-width: 340px;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
}

.super-headline {
    font-size: 26px;
    margin-top: 25px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.super-subtitle {
    font-size: 20px;
    margin-top: 12px;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-transform: lowercase;
    font-weight: 400;
}
